body{
    margin: 0;
    font-family: 'Inika', serif;
    max-width: 1440px;
}

.header{
    font-weight: 400;
    font-size: 48px;
    font-family: 'M PLUS 1p', sans-serif;
    text-align: center;
}

.strong{
    color: #3E45E8;
}

.Ukraine{
    color: #E8C23E;
}

.banner{
    height: 765px;
    background-image: url(./img/1444411287_oboyi-na-robochiy-stl-ukrayina-8\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5%;
    padding-top: 15%;
    box-sizing: border-box;
}

.content{
    background-image: url(./img/img\ прапор.png);
    background-repeat: no-repeat;
    height: 290px;
    font-size: 48px;
    font-weight: 700;
    color: white;
    width: 80%;
    padding-left: 5%;
}

.header2{
    font-weight: 700;
    font-size: 40px;
    margin-top: 3%;
    margin-left: 5%;
}

.flag{
    margin-bottom: 3%;
}

.card{
    margin-left: 5%;
    border: 5px solid black;
    width: 25%;
    display: inline-block;
    border-radius: 8%;
}

.card_image{
    width: 100%;
}

.card_title{
    font-weight: 700;
    font-size: 24px;
    color: #0072DB;
    padding-top: 3%;
    padding-left: 1%;
    box-sizing: border-box;
}

.card_subtitle{
    font-weight: 400;
    font-size: 20px;
    color: #FF9900;
    box-sizing: border-box;
    padding-top: 3%;
    padding-left: 1%;
    padding-bottom: 10%;
}

.card_1{
    box-shadow: -16px 21px 40px 0px rgba(0, 209, 255, 0.35);
}

.card_2{
    box-shadow: 0px 21px 35px 0px rgba(0, 209, 255, 0.35);
}

.card_3{
    box-shadow: 16px 21px 40px 0px rgba(0, 209, 255, 0.35);
}

.header3{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-top: 3%;
    
}

hr{
    width: 592px;
    height: 5px;
    background-color: #1400FF;
}

.img_map{
    width: 100%;
    margin-top: 3%;
    margin-left: 15%;
}

.box{
    display: inline-block;
    border: 1px solid black;
    background-color: #2A61F0;
    height: 81px;
    width: 499px;
    margin-top: 3%;
    margin-left: 32%;
    border-radius: 50px;
    text-align: center;
}

.go_link{
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    text-decoration: none;
}

.block_bottom{
    border: 1px solid black;
    width: 100%;
    height: 233px;
    margin-top: 3%;
    background: linear-gradient(180deg, #013235 0%, #0D0661 100%);

}

.link{
    font-family: 'Marcellus SC', serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}

.mail{
    color: #A89D9D;
}

.tel{
    color: #A89D9D;
}

.social_media{
    box-sizing: border-box;
    padding-top: 1%;
    text-align: center;
}

.facebook{
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;
}

h6{
    margin-block-start: 9px;
    margin-left: 28px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
}

.p1{
    margin-block-start: -25px;
    margin-left: 28px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    width: 24%;
    display: block;
    float: left;
}

.p2{
    margin-block-start: -25px;
    margin-left: 28px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    width: 37%;
    display: block;
    float: left;
}

