body{
    max-width: 1500px;
    margin: 0;
}

.background{
    background-image: url(./img/фон.png);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
}

.venice_beach{
    padding-top: 10%;
    padding-left: 18%;
    box-sizing: border-box;
}

p{
    margin-block-start: 0;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-top: 3%;
    margin-left: 6%;
}

.card{
    border: 1px solid black;
    width: 400px;
    height: 460px;
    background-color: #231B0C;
    background-repeat: no-repeat;
    display: inline-block;
    
}

.card1{
    margin-left: 6%;
    background-image: url(./img/галерея.png), url(./img/фото\ галереї.png);
    background-position: center top 10% , center 75%;
}

.card2{
    margin-left: 3%;
    margin-right: 3%;
    background-image: url(./img/спорт.png), url(./img/фото\ спорту.png);
    background-position: top 3% center, center 75%;
}

.card3{
    background-image: url(./img/більше.png), url(./img/фото\ інше.png);
    background-position: top 3% center, center 75%;
}

.venice{
    margin-left: 6%;
    margin-top: 3%;
    width: 1300px
}

.bottom_section{
    margin-top: 3%;
    border: 1px solid black;
    height: 279px;
    width: 100%;
    background-color: #150F02;
    
}

.navigation_menu{
    display: flex;
}
.list_two{
    box-sizing: border-box;
    padding-left: 28%
}

.list_one{
    box-sizing: border-box;
    padding-left: 28%
}

.li_restaurants{
    box-sizing: border-box;
    padding-top: 15%
}

.li_art{
    box-sizing: border-box;
    padding-top: 30%
}

h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

hr{
    border: 5px solid #FF6B00;
    width: 318px;
}

.social_media{
    box-sizing: border-box;
    padding-top: 1%;
    text-align: center;
}

.facebook{
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;
}

