:root{
    font-size: 10px;
}

body{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    background: #FBE4FF;
    margin: 0;
    max-width: 1920px;
}

body .arrow{
    position: absolute;
    border: 1px solid #300C6A4D;
    padding: 2rem 3rem;
    border-radius: 50%;
    z-index: 1;
    background: #300C6A4D;
    top: 140rem;
    right: 10rem;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.header-top{
    
    background-color:#243B93;
    display: flex;
    padding-left: 10%;
    box-sizing: border-box;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;

}

.header-top__nav{
    text-decoration: none;
    list-style: none;
    display: flex;
    width: 75%;
    justify-content: space-between;
    padding-left: 10%;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

.header-top__nav a{
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
}

.lang-text{
    padding-left: 0.5%;
    font-size: 2.8rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.title{
    background-color: #BFF0FF;
    padding: 1rem 0;
    width: 100%;
}

.title h2{
    font-size: 4.4rem;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}

.navi{
    background-color: #FFFFFF;
    padding: 1rem;
    margin: 3rem 0;
    color: #0000009C;
    text-align: center;
    font-size: 2.8rem;
    position: relative;
}

.navi::after{
    content: url(./img/arrow.svg);
    position: absolute;
    right: 2rem;
    top: 25%;
}

.card{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    padding: 3.3rem 5.3rem 2.1rem 5.2rem;
    margin: 4.2rem 0;
}

.card:hover{
    background: rgba(44, 189, 235, 1);
    box-shadow: 0px 0px 60px 4px rgba(44, 189, 235, 1);
}

.card > .card-img{
    box-sizing: border-box;
    width: 40%;
}

.card-img > img{
    width: 100%;
    min-height: 100%;
}

.card > .card-description{
    width: 60%;
    padding-left: 5.3rem;
    box-sizing: border-box;
}

.card .card-description__title{
    font-weight: 700;
    font-style: italic;
    font-size: 3.6rem;
    color: #353C57;
    border-bottom: 3px solid white;   
}

.card .card-description__content{
    background: #EDFBFF;
    margin-top: 1rem;
    height: 75%;
}

.card .card-description__content-text{
    font-size: 1.6rem;
    width: 80%;
    padding-top: 1rem;
    padding-left: 1.6rem;
    box-sizing: border-box;
}

.card .star, .card .button{
    position: absolute;
}

.card .star{
    top: 1rem;
    right: 1rem;
}

.card .star:hover{
    content: url(./img/star_yellow.svg);
}

.card .button{
    left: 99rem;
    bottom: 1rem;
    right: -5%;
    background-color: #243B93;
    color: white;
    width: 20rem;
    padding: 1rem 0;
    text-align: center;
    border-radius: 5rem;
    text-decoration: none;
    font-size: 2.4rem;
}

.card .button:hover{
    background-color:#EF075B;
}

.title_two{
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    padding: 1.7rem 0 1.1rem 0;
}

.title_two h2{
    font-size: 4.4rem;
    font-style: italic;
    color: #243B93;
    margin: 0;
    font-weight: 400;
}

.profile-card{
    margin-top: 3.6rem;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 2rem;
}

.profile-card .list-one{
    text-align: center;
    list-style: none;
}

.profile-card > .list-one > li{
    margin: 2rem 0;
    box-sizing: border-box;
    padding: 1rem;
}

.profile-card a{
    color: white;
    text-decoration: none;
    font-size: 2.4rem;
    padding: 1rem 4rem;
}

.profile-card .button{
    background-color: #243B93;
    border-radius: 5rem;
}

.profile-card .button:hover{
    background-color: #EF075B;
}

.profile-card .settings-btn:hover{
    background: #EF075B;
}

.profile-card .list-two{
    color: #353C57;
    list-style: none;
    font-size: 3.6rem;
    font-style: italic;
    width: 60%;
}

.profile-card .bold{
    font-weight: 700;
}

.profile-card .list-two li{
    border-bottom: 3px solid white;
    padding: 1.5rem;
}

.profile-card .list-two li:nth-child(5){
    border-bottom: none;
}

.exit-btn{
    text-align: center;
    margin-top: 2.8rem;
}

.exit-btn > a{
    background-color:#243B93;
    font-size: 2.4rem;
    color: white;
    text-decoration: none;
    border-radius: 5rem;
    padding: 1rem 5rem;
}

.exit-btn a:hover{
    background: #EF075B;
}

.title_three{
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
    margin-top: 6rem;
    padding: 1.7rem 0 1.1rem 0;
    box-sizing: border-box;
}

.title_three h2{
    font-size: 4.4rem;
    font-style: italic;
    color: #243B93;
    margin: 0;
    font-weight: 400;
}

.contact{
    display: flex;
    margin-left: -4rem;
    margin-top: 2.5rem;
    justify-content: space-between;
}

.contact .list-one{
    list-style: none;
}

.contact .list-one li:nth-child(1){
    font-size: 2.2rem;
    font-weight: 400;
    color: black;
}

.contact .list-one li:nth-child(3){
    font-size: 2.2rem;
    font-weight: 400;
    color: black;
}

.contact .list-one li:nth-child(4){
    font-weight: 400;
    font-size: 2rem;
    border-top: 3px solid #202846;
}

.contact .list-one a{
    color: black;
    text-decoration: none;
    font-size: 2rem;
    border-top: 3px solid #202846;
}

.contact li{
    padding: 0.5rem 0;
}

.list-two{
    list-style: none;
}

.list-two li:nth-child(1){
    font-size: 3.2rem;
    font-weight: 400;
}

.list-two a{
    color: black;
    text-decoration: none;
    font-size: 2rem;
    border-top: 3px solid #202846;
}

.contact .map{
    border: 3px solid #243B93;
    border-radius: 55px;
    height: 25rem;
}

.contact iframe{
    width: 50rem;
    height: 25rem;
    border-radius: 5rem;
}

.bottom{
    background: #243B93;
    margin-top: 2.8rem;
}

.bottom p{
    margin: 0;
    padding: 2.3rem 0;
    box-sizing: border-box;
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
}