body{
    font-family: 'Inter', sans-serif;
    margin-top: 42px;
    margin-left: 37px;
}

.text{
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.p1{
    font-size: 16px;
    font-weight: 700;
}

.p3{
    font-style: italic;
}

.p5{
    font-style: italic;
}

p{
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
}

ol{
    margin: 0;
    padding-inline-start: 20px;   
}

ul{
    padding-inline-start: 0;
    list-style: none
}