body{
    width: 63%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-left: 3%;
}

h2{
    font-size: 32px
}

p{
    font-size: 16px;
}

.header1{
text-align: center;
font-size: 40px;
}

.mercury{
    margin-top: 55px;
    text-align: center;
}

.header2{
    text-align: left;
}

.mrc_text{
    text-align: left;
}

.venus{
    margin-top: 62px;
    text-align: left;
}

.header3{
    text-align: right;
}

.earth{
    margin-top: 46px;
    text-align: right;
}

.header4{
    text-align: center;
}

.earth_text{
    text-align: center;
}

.mars{
    text-align: center;
    margin-top: 31px;
}

.header5{
    text-align: left;
}

.mars_text{
    text-align: left;
}

.header6{
    text-align: center;
}

.jupiter_text{
    text-align: center;
}

.saturn{
    margin-top: 48px;
}

.header7{
    text-align: center;
}

.uranus{
    text-align: left;
    margin-top: 48px;
}

.header8{
    text-align: right;
}

.neptune{
    margin-top: 54px;
    text-align: right;
}

.header9{
    text-align:left
}

.neptune_text{
    text-align: left;
}

.table{
    margin-top: 15%;
    text-align: center;
}

table{
    border: 1px solid black;
}

.image{
    margin-top: 204px;
}

.img{
    width: 100%;
}

.good_luck{
    margin-top: 82px;
    text-align: center;
}

.header10{
    text-align: center;
    margin-top: 10%;
}

 table{
    border: 1px solid black;
    width: 100%;
}

th{
    border: 1px solid black;
    height: 25px;
}

td{
    border: 1px solid black;
    height: 25px;
}